# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
_pytorch_select=0.1=cpu_0
binpickle=0.3.3=pypi_0
blas=1.0=mkl
ca-certificates=2021.1.19=haa95532_0
certifi=2020.12.5=py38haa95532_0
cffi=1.14.4=py38hcd4344a_0
chardet=4.0.0=pypi_0
click=7.1.2=pypi_0
cloudpickle=1.6.0=pypi_0
copulas=0.4.0=pypi_0
ctgan=0.3.1=pypi_0
cycler=0.10.0=pypi_0
dask=2021.1.1=pypi_0
decorator=4.4.2=pypi_0
deepecho=0.1.4=pypi_0
distributed=2021.1.1=pypi_0
faker=4.14.2=pypi_0
fsspec=0.8.5=pypi_0
heapdict=1.0.1=pypi_0
idna=2.10=pypi_0
intel-openmp=2020.2=254
joblib=1.0.0=pypi_0
kiwisolver=1.3.1=pypi_0
lenskit=0.11.1=pypi_0
llvmlite=0.34.0=pypi_0
locket=0.2.1=pypi_0
matplotlib=3.2.1=pypi_0
mkl=2020.2=256
mkl-service=2.3.0=py38h196d8e1_0
mkl_fft=1.2.0=py38h45dec08_0
mkl_random=1.1.1=py38h47e9c7a_0
msgpack=1.0.2=pypi_0
networkx=2.5=pypi_0
ninja=1.10.2=py38h6d14046_0
numba=0.51.2=pypi_0
numpy=1.20.0=pypi_0
numpy-base=1.19.2=py38ha3acd2a_0
openssl=1.1.1i=h2bbff1b_0
packaging=20.9=pypi_0
pandas=1.1.4=pypi_0
partd=1.1.0=pypi_0
patsy=0.5.1=pypi_0
pillow=8.1.0=pypi_0
pip=20.3.3=py38haa95532_0
pomegranate=0.13.4=pypi_0
psutil=5.8.0=pypi_0
pyarrow=3.0.0=pypi_0
pycparser=2.20=py_2
pyparsing=2.4.7=pypi_0
python=3.8.5=h5fd99cc_1
python-dateutil=2.8.1=pypi_0
python-graphviz=0.16=pypi_0
pytorch=1.4.0=cpu_py38ha775e86_0
pytz=2021.1=pypi_0
pyyaml=5.4.1=pypi_0
rdt=0.3.0=pypi_0
requests=2.25.1=pypi_0
scikit-learn=0.23.0=pypi_0
scipy=1.5.4=pypi_0
sdmetrics=0.1.2=pypi_0
sdv=0.7.0=pypi_0
seaborn=0.10.1=pypi_0
setuptools=52.0.0=py38haa95532_0
six=1.15.0=py38haa95532_0
sklearn=0.0=pypi_0
sktime=0.4.3=pypi_0
sortedcontainers=2.3.0=pypi_0
sqlite=3.33.0=h2a8f88b_0
statsmodels=0.12.1=pypi_0
tblib=1.7.0=pypi_0
text-unidecode=1.3=pypi_0
threadpoolctl=2.1.0=pypi_0
toolz=0.11.1=pypi_0
torch=1.7.1=pypi_0
torchvision=0.5.0=pypi_0
tornado=6.1=pypi_0
tqdm=4.56.0=pypi_0
tsfresh=0.17.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.26.3=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wheel=0.36.2=pyhd3eb1b0_0
wincertstore=0.2=py38_0
zict=2.0.0=pypi_0
zlib=1.2.11=h62dcd97_4
